<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="/">
</head>
<body>
<main id="app" class="main" style="width: 300px; margin: 50px auto 0 auto">
</main>
<!--<small id="tag-version"><%= htmlWebpackPlugin.options.title %> v.[AIV]{version} - Build time: {date}[/AIV]</small>-->
</body>
</html>